.hamburger-icon {
	position: relative;

	div:not(:last-child) {
		background-color: var(--text-color);
		border-radius: 1px;
		height: 2px;
		transition: all 0.3s ease-in-out;
		width: 20px;

		&:not(:first-child) {
			margin-top: 5px;
		}
	}

	&.is-open {
		.top-bun {
			transform: rotate(-45deg) translate(-5px, 5px);
		}

		.sustenance {
			transform: rotate(45deg);
		}

		.bottom-bun {
			opacity: 0;
			transform: rotate(45deg);
		}
	}

	.click-zone {
		bottom: -20px;
		left: -20px;
		position: absolute;
		right: -20px;
		top: -20px;
	}
}
