.down-arrow {
	height: 24px;
	position: relative;
	width: 24px;

	.chevron {
		animation: chevronMove 3s ease-out infinite;
		height: 8px;
		opacity: 0;
		position: absolute;
		transform: scale3d(0.5, 0.5, 0.5);
		width: 28px;

		&:first-child {
			animation: chevronMove 3s ease-out 1s infinite;
		}

		&:nth-child(2) {
			animation: chevronMove 3s ease-out 2s infinite;
		}

		&::before, &::after {
			background-color: #fff;
			content: " ";
			height: 100%;
			position: absolute;
			top: 0;
			width: 51%;
		}

		&::before {
			left: 0;
			transform: skew(0deg, 30deg);	
		}

		&::after {
			right: 0;
			width: 50%;
			transform: skew(0deg, -30deg);	
		}
	}
}


@keyframes chevronMove {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}
