.intro {
	background-color: white;
	height: 100svh;
	position: relative;
	width: 100vw;

	&.loaded {
		background-color: var(--background-color);
		transition: background-color 0.75s ease-in-out 0.25s;
	}

	.avatar {
		left: 50%;
		max-height: 225px;
		opacity: 0.0;
		position: absolute;
		top: 100%;
		transform: translate(-40%, -20%);
		z-index: 0;

		&.show {
			opacity: 0.8;
			transform: translate(-40%, -100%);
			transition: transform 1.75s ease-in-out 0.75s, opacity 1.75s ease-in-out 0.75s;
		}

		&.disappear {
			opacity: 0;
			transition: transform 1.5s ease-in, opacity 1.0s ease-in;
			transform: translate(-40%, 0)
		}
	}

	.lightbulb-background {
		height: 100%;
		left: 50%;
		max-height: 300px;
		max-width: 300px;
		object-fit: cover;
		opacity: 0;
		position: absolute;
		top: 100%;
		transform: translate(-50%, -500px);
		transition: opacity 1s ease-in-out 0.5s, transform 3s ease-in-out, top 3s ease-in-out;
		width: 100%;
		z-index: 0;

		&.show {
			opacity: 0.4;
		}

		&.move-to-center {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.content {
		position: relative;
		z-index: 1;
	}

	.typewriter-container {
		font-size: 24px;
		left: 50%;
		position: absolute;
		top: 100%;
		transform: translate(-50%, -350px);
		width: 100%;
	}

	.skip-button {
		bottom: 100px;
		right: 5%;
		opacity: 0;
		position: absolute;
		transition: opacity 1.5s ease-in-out;

		button {
			background: transparent;
			border: solid #ffffff 3px;
			border-radius: 10px;
			color: white;
			padding: 10px;

			&:hover {
				cursor: pointer;
			}
		}

		&.show {
			opacity: 0.3;
			transition: opacity 2s ease-in-out 1.5s;
		}
	}
}
