.portfolio {
	height: 100svh;
	position: relative;
	width: 100vw;

	.lightbulb-background {
		height: 100%;
		left: 50%;
		max-height: 300px;
		max-width: 300px;
		object-fit: cover;
		opacity: 0.4;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 0;
	}

	.content {
		position: relative;
		z-index: 1;
	}
}
