:root {
	--scroll: 0;
}

// html {
// 	scroll-snap-type: y proximity;
// }

a {
	cursor: pointer;
	display: inline-block;
	transition: scale 0.2s ease-in-out, color 0.2s ease-in-out;

	&:hover {
		color: var(--yellow1);
		scale: 1.1;
	}
 }

.lightbulb-background {
	height: 100%;
	left: 50%;
	max-height: 300px;
	max-width: 300px;
	object-fit: cover;
	opacity: 0.4;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 0;
}

.nav {
	background: rgba(26, 26, 26, max(min(calc(0.01 * var(--scroll) * 16), 0.8), 0.0));
	backdrop-filter: saturate(max(min(calc(1% * var(--scroll) * 3600), 180%), 0%)) blur(max(min(calc(0.01 * var(--scroll) * 400px), 20px), 0px));
	font-weight: 400;
	height: auto;
	left: 0;
	margin: 0;
	padding: 20px;
	position: fixed;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 100;

	.hamburger-icon {
		display: none;
		margin-right: 0;

		@media screen and (max-width: 600px) {
			display: inline-block;
			margin-right: 30px;
		}
	}

	.home {
		font-size: 28px;
		font-weight: 700;
		opacity: max(min(calc(0.2 * var(--scroll)), 1.0), 0.0);
	}

	ul {
		display: flex;
		justify-content: space-around;
		left: 50%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 600px;

		@media screen and (max-width: 930px) {
			left: 62%;
			width: 65vw;
		}

		@media screen and (max-width: 600px) {
			display: none;
		}
	}
}

.portfolio {
	position: relative;
	width: 100vw;

	.content {
		position: relative;
		z-index: 1;

		.section {
			min-height: 100svh;
			position: relative;
			// scroll-snap-align: start;
			width: 100vw;

			&:not(:first-child) {
				min-height: calc(100svh - 100px);
				padding-top: 100px;
			}

			h3 {
				font-size: 30px;
				margin-block-start: 0;
				margin-block-end: 0;
			}

			&.main {
				.headline {
					font-family: 'Poppins', sans-serif;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
			
					h1 {
						font-size: 65px;
						font-weight: 600;
						margin: 0;
						opacity: 0;
						padding: 0;
						transform: scale(max(min(calc(1 - (.01 * var(--scroll) * 10)), 1), 0.5));
						transition: opacity 1.25s ease-in-out;
	
						@media screen and (max-width: 580px) {
							font-size: 11.2vw;
						}
			
						&.show {
							opacity: max(min(calc(1 - (.167 * var(--scroll))), 1), 0);
						}
	
						&.intro-done {
							transition: none;
						}
					}
			
					h2 {
						font-size: 20px;
						font-weight: 300;
						margin: 0;
						opacity: 0;
						padding: 0 20px;
						transform: translateY(50%);
						transition: opacity 1s ease-in-out 0.5s, transform 1s ease-in-out 0.25s;
	
						@media screen and (max-width: 580px) {
							font-size: max(3.45vw, 16px);
						}
			
						&.show {
							opacity: max(min(calc(1 - (.5 * var(--scroll))), 1), 0);
							// transform: scale(max(min(calc(1 - (.01 * var(--scroll) * 10)), 1), 0.5));
						}
	
						&.intro-done {
							transition: none;
						}
					}
				}
				
				.scroll-for-more {
					bottom: 10%;
					left: 50%;
					opacity: max(min(calc(1 - (.1 * var(--scroll))), 1), 0);
					position: absolute;
					transform: translate(-50%, -50%);
				}
			}

			&.about {
				.about-table {
					margin: 0 auto;
					max-width: 800px;

					.image {
						padding: 15px;

						img {
							max-height: 200px;
							max-width: 200px;
							opacity: 0.8;
							transform: translateX(15px);
						}
					}

					.about-content {
						// background-color: rgba(var(--yellow1RGB), 0.7);
						font-size: 18px;
						font-weight: 400;
						padding: 15px;
					}
				}

				a {
					text-decoration: underline;
				}
			}

			&.expertise {
				// background: green;
			}
		}
	}
}

.hamburger-menu-background {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.5s ease-in-out, visibility 0s linear 1s;
	visibility: hidden;
	width: 100%;
	z-index: 10;

	&.is-open {
		opacity: 1;
		transition: opacity 0.5s ease-in-out, visibility 0s linear;
		visibility: visible;
	}
}

.hamburger-menu {
	background-color: rgba(48, 48, 48, 0.75);
	backdrop-filter: saturate(180%) blur(20px);
	height: 100%;
	left: 0;
	opacity: 0;
	padding-top: 80px;
	position: fixed;
	top: 0;
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	width: 300px;
	z-index: 11;

	&.is-open {
		opacity: 1;
		transform: translateX(0%);
	}

	ul {
		list-style: none;
		padding-inline-start: 30px;

		li {
			margin-bottom: 20px;
			text-align: left;

			a {
				font-size: 20px;
				font-weight: 400;
			}
		}
	}
}
