:root {
	--background-color: #121212;
	--text-color: #ffffff;
	--yellow1: #fffd10;
	--yellow1RGB: 255, 253, 16;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	margin: 0;
	overflow: hidden auto;
  	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.display-linebreaks {
	white-space: pre-line;
}
